.debug-highlight {
	position: absolute;
	z-index: 20;
	background-color: Maroon;
}

#editor {
	height: 500px;
	width: 49%;
	border: 10px red;
}

.logo {
	padding-left: 30px;
	/* background-image: url("https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"); */
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: left center;
	display: flex;
	flex-direction: row;
}

.container {
	width: 100%;
}

#scene {
	/*height: 500px;
	width: 49%;*/
	border: 1px lightgray solid;
    padding-top: 0;
	float: left;
}

.updated-variable-item {
	background-color: LightGreen!important;
}

#helpScreen{
	background-color: lightGray;
	opacity:90%;
	width: 90%;
	height: 70%;
	position: absolute;
	top: 10%;
	left: 5%;
	z-index:20;
	display:none;
	border-radius: 20px;
	border: 2px red solid;
}
#headsUpDisplay{
	background-color:black;
	opacity:30%;
	color: white;
	position: absolute;
	width: 40%;
	height:20%;
	left:5%;
	top:10%;
	font-size: 20px;
	border-radius: 5px;
}

#editor:focus{
	border-width: 20pt;
	border-color: yellow solid;
}
#scene:focus{
	border: 2px tomato solid;
}
#maracaIcon{
	transition: transform 0.5s;
}
#maracaIcon:hover{
	transform: scale(1.3);
}